.leftContainerItem {
  color: gray;
  font-size: large;
}

.leftContainerItem p {
  margin-left: 1em;
}

@media screen and (max-width: 425px) {
  .leftContainerItem {
    flex-direction: column;
    margin-top: -50px;
    align-items: center;    
  }
  .leftContainerItem p {
    margin-left: 0;
  } 
}

.leftContainerItem:hover p {
  color: #fff;
}

.leftContainerItem:hover svg {
  color: var(--tomato);
}

.leftContainerActiveIcon {
  color: var(--tomato) !important;
}

.leftContainerActiveText {
  color: #fff;
}